.app-down {
	margin-top: 80px;

	.normal-text {
		width: 350px;
	}

	&__btns {
		display: flex;
		gap: 20px;
	}

	&__btn {
		padding: 18px 0;
		border: 1px solid #e0e0e0;
		border-radius: 16px;
		display: flex;
		align-items: center;
		min-width: 194px;
		justify-content: center;
		gap: 12px;
		cursor: pointer;
		transition: 200ms;

		&:hover {
			box-shadow: 0px 10px 10px 0px #dcdcdc;
		}

		span {
			font-weight: 500;
		}
	}

	&__qr-modal {
		&-title,
		&-text {
			text-align: center;
		}

		&-title {
			font-size: 20px;
			font-weight: 500;
		}

		&-text {
			margin-top: 16px;
			margin-bottom: 40px;
			color: #797979 !important;
			width: auto !important;
		}
	}
}

@media (max-width: 1250px) {
	.app-down {
		flex-direction: column;
		align-items: flex-start !important;
		gap: 40px;

		&__btns {
			justify-content: center;
			width: 100%;
		}
	}
}

@media (max-width: 950px) {
	.app-down {
		flex-direction: row;

		&__btns {
			flex-wrap: wrap;
			gap: 0;
			justify-content: space-between;
			row-gap: 15px;
		}

		&__btn {
			width: 49%;
		}
	}
}

@media (max-width: 750px) {
	.app-down {
		margin-top: 40px;
	}
}
@media (max-width: 667px) {
	.app-down .normal-text {
		width: 252px;
	}
	.app-down {
		gap: 20px;
	}
	.app-down__btn {
		min-width: unset;
	}
	.app-down__btns {
		row-gap: 18px;
		max-width: 342px;
	}
	.app-down__btn {
		padding: 17px 12px;
	}
	.app-down__btn {
		min-width: 125px;
	}
}

@media (max-width: 550px) {
	.app-down {
		.normal-text {
			width: 100%;
		}
	}
}

@media (max-width: 450px) {
	.app-down__btn {
		width: 100%;
		justify-content: center;
	}
}
