.service-stats {
	margin-bottom: 100px;

	.hours-select {
		align-items: center;

		&.unlabeled .custom-select > div {
			border-radius: 10px;
			border: 0;
			top: calc(100% + 9px);

			button {
				gap: 14px;
			}
		}

		.custom-select {
			height: max-content;
		}
	}

	&__title {
		font-size: 32px;
		line-height: 37.5px;
		font-weight: 500;
		margin-bottom: 40px;
	}

	& > .normal-text:first-of-type {
		width: 522px;
		margin-bottom: 56px;
	}

	&__subtitle {
		font-size: 24px;
		margin-bottom: 24px;
		font-weight: 500;
		width: 522px;
		padding-top: 56px;

		&:nth-last-of-type(2) {
			margin-bottom: 40px;
		}
	}

	&__full-title {
		font-size: 24px;
		font-weight: 500;
		line-height: 36px;
		margin-bottom: 16px;
	}

	&__full-text {
		margin-bottom: 56px;
	}

	&__subtext {
		width: 522px;
	}

	&__texts {
		display: flex;
		gap: 40px;
		margin-bottom: 50px;

		& > .normal-text {
			width: 50%;
		}
	}

	&__data {
		margin-top: 40px;

		&.second {
			margin-top: 0;

			.service-stats__data-value:first-of-type {
				width: 17%;
			}
		}

		&-header {
			display: grid;
			grid-template-areas:
				"tip tip hours hours hours hours hours hours"
				"tip tip hours1 hours1 hours1 hours2 hours2 hours2"
				"tip tip hour1 hour2 hour3 hour4 hour5 hour6";
			gap: 2px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			overflow: hidden;

			&-item {
				background-color: #f3f3f3;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding: 15px;

				.result {
					font-weight: 500;
				}

				.custom-select {
					padding-right: 10px;
				}

				&:nth-of-type(1) {
					grid-area: tip;
					justify-content: flex-start;
				}

				&:nth-of-type(2) {
					grid-area: hours;
					justify-content: center;
				}

				&:nth-of-type(3) {
					grid-area: hours1;
					justify-content: center;
				}

				&:nth-of-type(4) {
					grid-area: hours2;
					justify-content: center;
				}

				&:nth-of-type(5) {
					grid-area: hour1;
				}

				&:nth-of-type(6) {
					grid-area: hour2;
				}

				&:nth-of-type(7) {
					grid-area: hour3;
				}

				&:nth-of-type(8) {
					grid-area: hour4;
				}

				&:nth-of-type(9) {
					grid-area: hour5;
				}

				&:nth-of-type(10) {
					grid-area: hour6;
				}
			}
		}

		&-values {
			&-col {
				display: flex;
				// grid-template-areas: "tip tip hour1 hour2 hour3 hour4 hour5 hour6";
				width: 100%;
				gap: 2px;
			}
		}

		&-value {
			padding: 15px;
			border-bottom: 1px solid #f3f3f3;
			text-align: end;
			width: 14%;

			&:first-of-type {
				font-weight: 500;
				width: 20%;
				text-align: start;
			}
		}

		&-more-btn {
			display: block;
			width: 100%;
			border-radius: 16px;
			background-color: #f3f3f3;
			font-weight: 500;
			padding: 19px;
			margin-top: 20px;
			margin-bottom: 60px;
			transition: 200ms;

			&:hover {
				background-color: #00000014;
			}
		}
	}

	.form-label {
		width: 453px;
		margin-top: 40px;
		margin-bottom: 10px;
	}

	.result {
		font-weight: 500;
	}
}
.service-stats__arrow {
	right: 10px !important;
}
.service-stats__hours {
	position: relative;
}
.service-stats__hours {
	i {
		right: -10px !important;
	}
}
@media (max-width: 1000px) {
	.service-stats {
		&__texts {
			flex-direction: column;
			gap: 0;
			position: relative;
			overflow: hidden;

			&-shadow {
				display: block !important;
				box-shadow: 0px 0px 100px 126px #fff;
				position: absolute;
				bottom: -18px;
				left: 0;
				width: 100%;

				button {
					font-size: 30px;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 10px;
				}
			}
		}

		.normal-text {
			width: 100% !important;
		}
	}
}

@media (max-width: 950px) {
	.service-stats {
		&__data {
			&-header {
				overflow: visible;
				grid-template-areas:
					"tip tip hours hours hours"
					"tip tip hour1 hour2 hour3";

				&-item {
					display: flex;
					align-items: center;
					gap: 15px;

					&:nth-of-type(3),
					&:nth-of-type(4),
					&:nth-of-type(8),
					&:nth-of-type(9),
					&:nth-of-type(10) {
						display: none;
					}
				}
			}

			&-value {
				width: 22%;

				&:first-of-type {
					width: 32%;
				}

				&:nth-of-type(5),
				&:nth-of-type(6),
				&:nth-of-type(7) {
					display: none;
				}
			}
		}

		.hours-select {
			display: flex !important;
			gap: 10px;

			select {
				font-weight: 600;
			}
		}
	}
}

@media (max-width: 780px) {
	.service-stats__full-title,
	.service-stats__subtitle {
		font-size: 24px;
		line-height: 36px;
		padding-top: 0;
	}
}

@media (max-width: 670px) {
	.service-stats .normal-text {
		width: 90% !important;
	}
	.service-stats {
		margin-bottom: 56px;

		&__title {
			font-size: 24px;
			margin-bottom: 16px;
		}

		&__texts {
			& > .normal-text:last-of-type {
				display: none;
			}

			&-shadow button {
				left: 10px;
				transform: translateX(0);
			}
		}

		&__data {
			display: none;

			&-mobile {
				display: block !important;

				.form-label {
					width: 100%;
					margin-bottom: 28px;
				}

				&-col {
					max-width: 413px;
					display: flex;
					flex-direction: column;
					gap: 14px;
					margin-bottom: 27px;
					padding-bottom: 20px;
					border-bottom: 1px solid #f3f3f3;
				}

				&-title {
					font-size: 20px;
					font-weight: 500;
					margin-bottom: 5px;
				}

				&-feature {
					display: flex;
					justify-content: space-between;
				}

				&-select {
					display: flex;
					gap: 32px;
					margin-top: 40px;

					.form-label {
						margin-top: 0;
					}
				}
			}

			&-more-btn {
				margin-top: 15px;
				margin-bottom: 53px;
			}
		}

		& > .form-label {
			display: none;
		}

		&__subtext,
		&__subtitle {
			width: 100%;
		}

		&__subtitle {
			max-width: 534px;
		}

		&__subtext {
			margin-bottom: 43px;
		}
	}
	.service-stats__subtitle {
		margin-bottom: 16px;
	}
	.service-stats > .normal-text:first-of-type {
		margin-bottom: 58px;
	}
	.icons__card {
		width: 47% !important;
	}
	.service-stats__subtitle:nth-last-of-type(2) {
		margin-bottom: 43px;
	}

	.icons {
		row-gap: 43px !important;
		margin-bottom: 29px !important;
	}
	.service-stats__full-title,
	.service-stats__subtitle {
		font-size: 20px;
	}
	.service-stats__full-title,
	.service-stats__subtitle {
		line-height: 30px;
	}
	.service-stats__icons {
		row-gap: 43px !important;
		margin-bottom: 57px !important;
	}
	.service-stats__icon-text {
		max-width: 235px;
	}
	.service-stats__subtitle {
		max-width: 440px;
	}
	.service-stats__icons-wrap {
		margin-bottom: 56px !important;
	}
	.service-stats__data-mobile-col:nth-child(5) {
		margin-bottom: 10px;
	}
	.service-stats__subtext-normal {
		margin-bottom: 56px;
	}
}

@media (max-width: 380px) {
	.service-stats__data-mobile-select {
		flex-direction: column;
		gap: 8px;

		.form-label:first-of-type {
			margin-bottom: 0;
		}
	}
}
