.stats {
	margin-top: 100px;
	margin-bottom: 100px;
	gap: 109px;

	&__top {
		display: flex;
		gap: 0;
		margin-bottom: 100px;

		& > div {
			width: 50%;
		}

		&-title {
			font-size: 48px;
			font-weight: 600;
			line-height: 56.25px;
			margin-bottom: 56px;
			max-width: 569px;
		}

		.normal-text {
			margin-bottom: 16px;
		}

		&-img {
			display: flex;
			align-items: center;

			img {
				width: 100%;
				margin-top: 40px;
			}
		}
	}

	&__bottom {
		gap: 50px;

		& > div {
			width: 50%;
		}
	}

	&__left {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 40px;

		&-card {
			width: 45%;

			&-icon {
				background-color: var(--main-yellow);
				width: 48px;
				height: 48px;
				border-radius: 50%;
				display: grid;
				place-content: center;
				margin-bottom: 20px;
			}

			.normal-text {
				width: 80%;
				line-height: 24px;
			}
		}
	}

	&__right {
		&-text {
			position: relative;
			overflow: hidden;

			&-shadow {
				position: absolute;
				box-shadow: 0px 0px 100px 148px #fff;
				width: 100%;
				bottom: 0;
				left: 0;
				transition: 0.3s all ease;

				button {
					font-size: 30px;
					position: absolute;
					bottom: 20px;
					left: 10px;
					transition: 0.3s all ease;
				}

				&.show {
					box-shadow: 0 0 0 0 #fff;

					button {
						bottom: 0;
						transform: rotate(180deg);
					}
				}
			}
		}

		&-title {
			font-size: 32px;
			font-weight: 600;
			margin-bottom: 40px;
			line-height: 37.5px;
		}

		.normal-text {
			line-height: 24px;
			margin-bottom: 40px;
		}

		&-cards {
			display: flex;
			justify-content: space-between;
		}

		&-card {
			display: flex;
			flex-direction: column;
			gap: 5px;

			&-num {
				font-size: 32px;
				font-weight: 600;
			}
		}
	}
}

@media (max-width: 1150px) {
	.stats {
		&__bottom,
		&__top {
			flex-direction: column-reverse;

			& > div {
				width: 100%;
			}
		}

		&__top {
			flex-direction: column;

			&-img {
				justify-content: center;
			}
		}
	}
}

@media (max-width: 668px) {
	.stats {
		margin-top: 40px;
		margin-bottom: 57px;

		&__top {
			margin-bottom: 40px;

			&-title {
				font-size: 40px;
				line-height: 46.88px;
				max-width: 509px;
				margin-bottom: 37px;
			}
		}

		&__left {
			gap: 0;
			row-gap: 39px;

			&-card {
				width: 49%;
			}
		}

		&__right-title {
			font-size: 24px;
			line-height: 36px;
			font-weight: 500;
			margin-bottom: 19px;
		}
		&__right-text {
			max-width: 570px;
		}
	}
	.stats__left-card {
		width: 47.5%;
	}
	.stats__bottom {
		gap: 27px;
	}
	.stats__left-card .normal-text {
		width: 78%;
	}
	.stats__right-text-shadow button {
		font-size: 24px;
		bottom: 25px;
		left: -1px;
	}
	.stats__top .normal-text {
		max-width: 548px;
	}
	.stats__top-img img {
		width: 540px;
	}
	.stats__bottom-col {
		gap: 51px;
	}
}

@media (max-width: 550px) {
	.stats {
		&__right-text {
			&-shadow {
				display: block !important;
			}
		}

		&__left-card {
			width: 100%;
		}

		&__top-title {
			font-size: 40px;
			line-height: 46.88px;
		}
	}
}

@media (max-width: 330px) {
	.stats {
		&__right-cards {
			flex-direction: column;
			gap: 10px;
			width: max-content;
			margin: auto;
		}

		&__top-title {
			font-size: 30px;
			line-height: 36.88px;
		}
	}
}
